:root {
  --primary-color: hsl(0 100% 68%);
  --secondary-color: hsl(154 59% 51%);
  --tertiary-color: hsl(0 0% 100%);
  --accent-color: hsl(248 32% 49%);
  --form-primary-color: hsl(249 10% 26%);
  --form-secondary-color: hsl(246 18% 52%);
  --form-label-color: hsl(248 3% 47%);
  --form-default-border: hsl(0 0% 87%);
  --btn-text-color: hsl(170 97% 15%);
  --btn-hover-color: hsl(154 65% 68%);
  --small-text-color: hsl(0 67% 54%);
  --font-weight--bold: 700;
  --font-weight--semi-bold: 600;
  --font-weight--medium: 500;
  --font-weight--regular: 400;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.free-trial-offer {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  min-height: 100vh;
}

.free-trial-offer h2 {
  color: var(--tertiary-color);
  font-size: 1.75rem;
  font-weight: var(--font-weight--bold);
  letter-spacing: -0.29px;
  line-height: 1.28;
  margin-bottom: 1rem;
  text-align: center;
}
@media (min-width: 68.75rem) {
  .free-trial-offer h2 {
    font-size: 3.125rem;
    letter-spacing: -0.52px;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    text-align: left;
  }
}

.free-trial-offer p {
  color: var(--tertiary-color);
  font-size: 1rem;
  font-weight: var(--font-weight--medium);
  margin-bottom: 4.25rem;
  text-align: center;
}
@media (min-width: 68.75rem) {
  .free-trial-offer p {
    text-align: left;
  }
}

fieldset {
  border: none;
}

legend {
  margin-bottom: 1.5rem;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn__cta {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  color: var(--btn-text-color);
  cursor: pointer;
  font-weight: var(--font-weight--semi-bold);
  margin-bottom: 0.5rem;
  padding: 0.9375rem 0rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  width: 100%;
}
.btn__cta:hover {
  background-color: var(--btn-hover-color);
}

@media (min-width: 68.75rem) {
  .cta {
    flex-basis: 33.75rem;
  }
}

.cta__form h3 {
  background-color: var(--accent-color);
  border-radius: 10px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  color: var(--tertiary-color);
  font-size: 0.9375rem;
  font-weight: var(--font-weight--regular);
  letter-spacing: 0.27px;
  padding: 1.125rem 3rem;
  text-align: center;
}
.cta__form h3 span {
  font-weight: var(--font-weight--semi-bold);
}

.cta__form p {
  color: var(--form-secondary-color);
  font-size: 0.6875rem;
  font-weight: var(--font-weight--medium);
  line-height: 1.9;
  margin: 0;
  padding: 0rem 0.76rem;
  text-align: center;
}

.cta__form a {
  color: var(--small-text-color);
  font-weight: var(--font-weight--semi-bold);
}
.cta__form a:hover {
  text-decoration: underline;
}

.cta__form .field-container {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  padding: 1.5rem;
}
@media (min-width: 68.75rem) {
  .cta__form .field-container {
    padding: 2.5rem;
  }
}

.cta__form .field {
  position: relative;
}
.cta__form .field input {
  border: 1px solid var(--form-default-border);
  border-radius: 5px;
  caret-color: var(--accent-color);
  color: var(--form-primary-color);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: var(--font-weight--semi-bold);
  margin-bottom: 1.25rem;
  padding: 0.9375rem 0rem 0.9375rem 1.125rem;
  width: 100%;
}
.cta__form .field input:focus {
  border: 1px solid var(--accent-color);
}
.cta__form .field input:invalid:where([aria-invalid=true]), .cta__form .field input:valid:where([aria-invalid=true]) {
  border: 2px solid var(--primary-color);
  color: var(--small-text-color);
}
.cta__form .field input:valid:where([aria-invalid=false]) {
  color: var(--form-primary-color);
}
.cta__form .field input:focus ~ label, .cta__form .field input:valid ~ label, .cta__form .field input:invalid:where([aria-invalid=true]) ~ label {
  background-color: var(--tertiary-color);
  font-size: 0.6875rem;
  font-weight: var(--font-weight--regular);
  top: -0.5625rem;
  left: 0.75rem;
  padding: 0 5px 0 5px;
}
.cta__form .field input:focus ~ label::after, .cta__form .field input:valid ~ label::after, .cta__form .field input:invalid:where([aria-invalid=true]) ~ label::after {
  content: " (required)";
}
.cta__form .field label {
  background-color: var(--tertiary-color);
  color: var(--form-label-color);
  display: block;
  font-weight: var(--font-weight--semi-bold);
  pointer-events: none;
  position: absolute;
  left: 1.125rem;
  top: 0.625rem;
  transition: 0.2s;
}
.cta__form .field .error-icon {
  display: none;
  position: absolute;
  top: 0.825rem;
  right: 1rem;
}
.cta__form .field .error-message {
  color: var(--small-text-color);
  display: none;
  font-size: 0.6875rem;
  font-style: italic;
  line-height: 1.5;
  margin-top: -1rem;
  margin-bottom: 1rem;
  text-align: right;
  padding: 0;
}
.cta__form .field [aria-invalid=true] ~ .error-message,
.cta__form .field [aria-invalid=true] ~ .error-icon {
  display: block;
}
.cta__form .field [aria-invalid=true]:focus ~ .error-icon {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0 auto 2rem;
}

.free-trial-offer {
  background-image: url("images/bg-intro-mobile.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.5rem 1.5rem 4.25rem 1.5rem;
}
@media (min-width: 68.75rem) {
  .free-trial-offer {
    background-image: url("images/bg-intro-desktop.png");
    flex-direction: row;
    gap: 2.8125rem;
  }
}

@media (min-width: 68.75rem) {
  .hero-container {
    flex-basis: 32.8125rem;
  }
}

.attribution {
  color: var(--form-secondary-color);
  font-family: "Poppins", sans-serif;
  font-size: 0.6875rem;
  font-weight: var(--font-weight--medium);
  padding-top: 0.5rem;
  text-align: center;
}
.attribution a {
  color: var(--small-text-color);
}
.attribution a:hover {
  text-decoration: underline;
}
